@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(+75px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(+75px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



@keyframes fadeIn { 
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn { 
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 20%; }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }