* {
    margin: 0;
    box-sizing: border-box;
}

html, body { 
    height: 100%;

}
.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4 {
    font-family: 'Titillium Web', monospace;   
}

p {
    font-family: 'Roboto', sans-serif;
}


/* ----------------------------------
    FIRST SCREEN STYLES - NAME CONTAINER
    --------------------------------- */
.nameContainer {
    background: url("../assets/connectwork.png");

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

    position: relative;
}



.nameContainer > .header {
    padding: 3em;
    background: rgba(0, 0, 0, 0.25);
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
            animation-name: fadeInUp;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

@-webkit-keyframes fadeInUp {
    0% {
       opacity: 0;
       -webkit-transform: translateY(+75px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateY(0);
    }
}
 
@keyframes fadeInUp {
    0% {
       opacity: 0;
       transform: translateY(+75px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
}

.nameContainer > .header > h1 { 
    color: #eeeeee;
    font-size: 65px;
    font-weight: light;
}

.nameContainer > .header > .contact { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin-top: 1em;
}

.nameContainer > .header > .contact > .icon > a > i {
    color: #aaaaaa;
}

.nameContainer > .header > .contact > .icon > a > i:hover {
    color: #8B0000;
    transition: all 500ms ease;
}

.nameContainer > .enter {
    color: #eeeeee;

    position: absolute;
    bottom: 1vw;
    text-align: center;

    font-size: 2em;
}
